div,body,h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body{
    background-color: #000;
}

div#container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}



div#container .time:not(:last-of-type){
    font-size: 250px;
}

div#container .time{
    color: #FFFFFF;
    font-weight: 700;
}

sub{
    color: dodgerblue;
    font-size: 50px;
}

div#container #date{
    font-size: 50px;
}



div#container #date{
    width: 100%;
    text-align: center;
    background-color: dodgerblue;
}

